@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --font-jp: "IBM Plex Sans JP", sans-serif;
  --font-en: "Ubuntu", sans-serif;
  @apply text-zinc-800 bg-zinc-100;
}

// scrollbar
.scrollbar-thumb.scrollbar-thumb-y{
  @apply bg-zinc-950;
}

// header
#header{
  @apply absolute z-10 top-0 left-0 w-full h-16;

  header{
    @apply flex flex-row flex-nowrap justify-between items-center w-full max-w-[1280px] mx-auto;

    h1 a img{
      @apply h-16;
    }

    ul{
      @apply flex flex-row flex-nowrap items-center gap-x-4 h-16;

      a{
        @apply text-zinc-100 hover:text-zinc-400 transition-colors duration-300;
      }
    }
  }

  #sp-menu{
    @apply hidden;
  }
}

// content body
#main{
  @apply h-screen;
  font-family: var(--font-jp);
}

section#first-view{
  @apply relative h-screen pb-12;

  figure{
    @apply w-full h-full;

    img{
      @apply w-full h-full object-cover object-bottom;
    }
    figcaption{
      @apply flex justify-center items-center absolute inset-0 mb-[25dvh] text-zinc-100 shadow-zinc-400;
      font-family: var(--font-en);
      font-size: min(4.5rem, 17.5vw);
      line-height: 1.25;
      word-break: keep-all;
      text-align: center;
      text-shadow: 4px 5px 0 var(--tw-shadow-color);
    }
  }

  i{
    @apply flex justify-center items-center absolute left-0 bottom-0 w-full h-12 text-zinc-700 animate-bounce;
  }
}


section#about{
  @apply flex items-center min-h-[75dvh];

  article{
    @apply w-full max-w-[800px] mx-auto;

    p{
      @apply indent-4;

      &:not(:last-of-type){
        @apply mb-6;
      }
    }
  }
}


section#link{
  @apply overflow-hidden;

  ul{
    @apply grid grid-cols-2 w-full max-w-[800px] mx-auto;

    li{
      &.left a{
        @apply relative pr-4 py-8 text-zinc-200 bg-zinc-700;
        border-image: linear-gradient(#3f3f46,#3f3f46) fill 0 /1/ 0 0 0 100vw;
        transition: color 0.3s, background-color 0.3s;

        i{
          @apply text-zinc-700 bg-zinc-200 transition-colors duration-300;
        }

        &::before{
          @apply block content-[""] absolute right-0 top-0 w-0 h-full bg-zinc-200 transition-[width] duration-300;
        }

        &:hover{
          @apply text-zinc-700 bg-zinc-200;

          i{
            @apply text-zinc-200 bg-zinc-700;
          }

          &::before{
            @apply w-[50vw];
          }
        }
      }

      &.right a{
        @apply relative pl-4 py-8 text-zinc-700 bg-zinc-200;
        border-image: linear-gradient(#e4e4e7,#e4e4e7) fill 0 /1/ 0 100vw 0 0;
        transition: color 0.3s, background-color 0.3s;

        i{
          @apply text-zinc-200 bg-zinc-700 transition-colors duration-300;
        }

        &::before{
          @apply block content-[""] absolute left-0 top-0 w-0 h-full bg-zinc-700 transition-[width] duration-300;
        }

        &:hover{
          @apply text-zinc-200 bg-zinc-700;

          i{
            @apply text-zinc-700 bg-zinc-200;
          }

          &::before{
            @apply w-[50vw];
          }
        }
      }

      a{
        @apply grid gap-y-6 h-full;

        b{
          @apply relative block text-2xl;
        }
        span{
          @apply relative;
        }
        i{
          @apply self-end relative block w-fit mx-auto px-4 sm:px-14 py-3;
        }
      }
    }
  }
}

section#footer{
  @apply grid relative w-full h-64;

  >img{
    @apply absolute left-0 top-0 w-full h-full object-cover object-center;
  }

  article{
    @apply flex flex-col items-center justify-center gap-y-3 relative w-full max-w-[1280px] mx-auto;

    img{
      @apply h-28 p-2 rounded-full bg-black;
    }
    div{
      @apply flex flex-col items-center gap-y-[0.125rem];

      strong, em{
        @apply w-fit px-2 text-zinc-200 bg-zinc-800;
      }
    }
  }

  footer{
    @apply self-end flex flex-col items-center gap-y-[0.125rem] relative h-8 px-[0.125rem];

    h2, p{
      @apply w-fit px-2 text-zinc-200 bg-zinc-800;
    }
  }
}