@tailwind base;
@tailwind components;
@tailwind utilities;

*::before, *::after{
  display: none;
}

*{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  color: inherit;
  line-height: 1.5;
  font-size: 100%;
  font-family: inherit;
  font-weight: normal;
  font-style: normal;
  white-space:  normal;
  overflow-wrap: break-word;
  word-break: break-all;
  line-break: loose;
}

html{
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

:root{
  --font-jp: "IBM Plex Sans JP", sans-serif;
  --font-en: "Ubuntu", sans-serif;
  @apply text-zinc-800 bg-zinc-100;
}

body{
  min-height: 100vh;
  min-height: 100dvh;
}

#main{
  @apply h-screen;
  font-family: var(--font-jp);
}

// scrollbar
.scrollbar-thumb.scrollbar-thumb-y{
  @apply bg-zinc-950;
}
